* {
  font-family: 'Rubik', sans-serif;
  color: #444;
}

button, input {
  font-family: inherit;
}

.shadow-top {
  box-shadow: 0 -0.125em 1em -0.125em rgba(10,10,10,.06), 0 0 0 1px rgba(10,10,10,.025);
}

.root {
  position: relative;
  min-width: 100vw; 
  min-height: 100vh; 
  overflow: hidden; 
  overflow-y: auto;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 -0.125em 1em -0.125em rgba(10,10,10,.06), 0 0 0 1px rgba(10,10,10,.06);
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(5px);
}

.pet-card {
  max-width: 280px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  transition: .267s;
}

.pet-card:hover {
  box-shadow: 0 0.75em 3em -0.1em rgba(10,10,10,.15), 0 0 0 1px rgba(10,10,10,.02);
}

.pet-card-img {
  position: relative;
  width: 100%;
  height: 230px;
  filter: grayscale(33%);
  transition: .3s;
}

.pet-card-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #ffffff, transparent 35%);
}

.pet-card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(33%);
  border-radius: 20px;
}

.pet-card-main, 
.pet-card-footer {
  position: relative;
  margin-top: -30px;
  border-radius: 20px;
  overflow: hidden;
}
