* {
  font-family: 'Rubik', sans-serif;
  color: #444;
}

html, body {
  overflow: hidden;
}

button, input {
  font-family: inherit;
  transition: .134s;
}

.shadow-top {
  box-shadow: 0 -0.125em 1em -0.125em rgba(10,10,10,.06), 0 0 0 1px rgba(10,10,10,.025);
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
}

.nav {
  position: relative;
  z-index: 99;
  padding: 9px 60px;
}

.main {
  height: 100%;
  overflow-y: auto;
}

.search-field {
  padding: 11px 27px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 0 0.125em rgba(175,175,175,.25);
}

.search-field:focus {
  outline: none;
  box-shadow: none;
}

.search-field::placeholder {
  opacity: .6;
}

.pet-card {
  max-width: 280px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  transition: .267s;
}

.pet-card:hover {
  box-shadow: 0 0.75em 3em -0.1em rgba(10,10,10,.15), 0 0 0 1px rgba(10,10,10,.02);
}

.pet-card-img {
  position: relative;
  width: 100%;
  height: 230px;
  filter: grayscale(45%);
}

.pet-card-img::after,
.pet-details-left-header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #ffffff, transparent 27.5%);
}

.pet-card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.pet-card-main, 
.pet-card-footer {
  position: relative;
  margin-top: -30px;
  border-radius: 20px;
  overflow: hidden;
}

.pet-details-left {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.pet-details-left-header {
  position: relative;
  width: 100%;
  height: 290px;
  filter: grayscale(45%);
}

.pet-details-left-header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-details-left-main,
.pet-details-left-footer {
  margin-top: -30px;
  border-radius: 20px;
}

.pet-details-right {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.pet-details-sub {
  border-radius: 20px;
  overflow: hidden;
}

.cart-btn {
  box-shadow: 0 0 0 0.125em rgba(175,175,175,.25) !important;
}

.cart-btn:active {
  box-shadow: none !important;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(225, 225, 225, .9);
  transition: 200ms;
}

.cart.is-invisible {
  opacity: 0;
}

.cart.is-invisible .cart-body {
  transform: translateY(100%);
  opacity: 0;
}

.cart-body {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 77.5%;
  transition: 250ms, opacity 100ms;
  transform: translateY(0);
}

.cart-main {
  height: 100%;
  overflow-y: auto;
}

.cart-btn-order,
.cart-btn-items {
  margin: 0 20px;
}
