* {
  font-family: 'Rubik', sans-serif;
  color: #444;
}

html, body {
  overflow: hidden;
}

button, input, textarea {
  font-family: inherit;
  transition: .134s;
}

img {
  display: block;
  position: relative;
  background: url('assets/spinner.gif') no-repeat center / 16%;
}

img::after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: 
    url('assets/no-image.png') no-repeat center / 45%,
    rgb(255, 255, 255);
}

.is-events-none {
  pointer-events: none;
}

.shadow-top {
  box-shadow: 0 -0.125em 1em -0.125em rgba(10,10,10,.06), 0 0 0 1px rgba(10,10,10,.025);
}

.shadow-left {
  box-shadow: -0.125em 0 1em -0.125em rgba(10,10,10,.06), 0 0 0 1px rgba(10,10,10,.025);
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
}

.root.on-mobile:after {
  content: 'Tablet and mobile version aren\'t currently available :(';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, .85);
  backdrop-filter: blur(25px);
}

.nav {
  position: relative;
  z-index: 99;
  padding: 9px 60px;
}

.main {
  height: 100%;
  overflow-y: auto;
}

.main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(225, 225, 225, .85);
  opacity: 0;
  transition: 267ms;
  visibility: hidden;
}

.drop-filter.main:after {
  opacity: 1;
  visibility: visible;
}

.search-field,
.order-field {
  padding: 11px 27px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 0 0.125em rgba(175,175,175,.25);
}

.search-field:focus,
.order-field:focus {
  outline: none;
  box-shadow: none;
}

.search-field::placeholder {
  opacity: .6;
}

.pet-card {
  max-width: 280px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  transition: .267s;
}

.pet-card:hover {
  box-shadow: 0 0.75em 3em -0.1em rgba(10,10,10,.15), 0 0 0 1px rgba(10,10,10,.02);
}

.pet-card-img {
  position: relative;
  width: 100%;
  height: 230px;
  filter: grayscale(50%);
}

.pet-card-img::after,
.pet-details-left-header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #ffffff, transparent 27.5%);
}

.pet-card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.pet-card-title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.pet-card-title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left, #ffffff, transparent 25%);
}

.pet-card-main, 
.pet-card-footer {
  position: relative;
  margin-top: -30px;
  border-radius: 20px;
  overflow: hidden;
}

.pet-details-left {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.pet-details-left-header {
  position: relative;
  width: 100%;
  height: 290px;
  filter: grayscale(50%);
}

.pet-details-left-header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-details-left-main,
.pet-details-left-footer {
  margin-top: -30px;
  border-radius: 20px;
}

.pet-details-right {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.pet-details-sub {
  border-radius: 20px;
  overflow: hidden;
}

.cart-btn,
.cart-btn-items,
.cart-btn-order,
.dropdown .button:not(.is-success) {
  box-shadow: 0 0 0 0.125em rgba(175,175,175,.25) !important;
}

.dropdown .button span,
.dropdown .button i {
  color: inherit;
}

.is-empty.cart-btn:after {
  opacity: 0;
  visibility: hidden;
  transform: translate(40%, -25%) scale(0);
}

.cart-btn:after {
  content: attr(data-counter);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(32.5%, -25%) scale(1);
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 0.125em rgba(72,199,116,.25);
  font-weight: bold;
  color: #257942;
  background: #e6f7ec;
  opacity: 1;
  transition: 200ms;
}

.cart-btn:active,
.cart-btn-items:active,
.cart-btn-order:active,
.dropdown .button:active {
  box-shadow: none !important;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(225, 225, 225, .85);
  transition: 200ms;
}

.cart.is-invisible {
  opacity: 0;
}

.cart.is-invisible .cart-body {
  transform: translateY(100%);
  opacity: 0;
}

.cart-body {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 82.5%;
  transition: 327ms, opacity 167ms;
  transform: translateY(0);
}

.cart-main {
  height: 100%;
  overflow-y: scroll;
}

.cart-btn-order,
.cart-btn-items {
  margin: 0 10px;
}

.cart-item {
  width: 100%;
  height: 125px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.cart-item-header {
  height: 100%;
}

.cart-item-img {
  width: 250px;
  height: 100%;
  filter: grayscale(50%);
}

.cart-item-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #ffffff, transparent 17.5%);
}

.cart-item-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
  border-radius: 20px;
  background: #ffffff;
}

.cart-item-footer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  border-radius: 20px;
  background: #ffffff;
}

.cart-total {
  width: 100%;
  max-width: 850px;
  border-radius: 20px;
}

.cart-order-success::after,
.cart-order-error::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 2px solid;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.5em;
  animation: fadeIn 400ms forwards;
}

.cart-order-success::after {
  content: 'SUCCESS! WE ALREADY PACKING YOUR PETS!';
  border-color:rgba(37, 121, 66, .2);
  color: #257942;
  background: rgba(220, 244, 228, .95);
}

.cart-order-error::after {
  content: 'ERROR! SOMETHING WENT WRONG! TRY AGAIN LATER...';
  border-color:rgba(204, 15, 53, .2);
  color: #cc0f35;
  background: rgba(252, 212, 220, .95);
}

.dropdown-content {
  border-radius: 20px !important;
}
